{% extends "base_generic.html"%}

{% block content %}

<h1>Loacal Library Home</h1>

    <p>Welcom to <em>LoacalLibrary,</em>a very basic Django websit developed as a tutorial exmple on the Mozilla Developer Network. </p>

<h2>Dynmaic content</h2>

    <p>The library has the following record counts:</p>

    <ul>
        <li><strong>Books:</strong> {{ num_books }}</li>
        <li><strong>Copies:</strong> {{ num_instances }}</li>
        <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
        <li><strong>Authors:</strong> {{ num_authors }}</li>
    </ul>

    <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>

{% endblock %}
